{% extends '@PulpyAdmin/base.html.twig' %}

{% block htmlclass 'posts' %}

{% block body %}{% verbatim %}

<div id="layout">
    <div id="postlist">
        <div class="list-inner">
            <div>
                <header>
                    <div class="inner">

                        <span>All posts</span>

                        <div class="pull-right">
                            <button class="btn btn-sm btn-default"><i class="fa fa-plus"></i></button>
                        </div>

                    </div>
                </header>
                <div>

                    <div class="scroller">
                        <ol class="posts" ng-controller="PostsListController as postslistCtrl">

                            <li ng-repeat="post in postslistCtrl.posts">
                                <a ng-click="postslistCtrl.postClicked(post)">
                                    <h3>{{ post.title }}</h3>
                                    <section class="post-meta">
                                        <span class="post-content">{{ post.intro }}</span>
                                    </section>
                                </a>
                            </li>

                        </ol>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div id="main" ng-controller="PostsPreviewController as postpreviewCtrl">
        <div>
            <header>
                <div class="inner">
                    <span>Published by {{ postpreviewCtrl.post.author.email }}</span>

                    <div class="pull-right">
                        <button class="btn btn-sm btn-default"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </header>
            <section class="content-preview">
                <div class="wrapper">
                    <div class="scroller">
                        <div class="innerwrapper">
                        <h1>{{ postpreviewCtrl.post.title }}</h1>

                        {{ postpreviewCtrl.post.intro }}

                        {{ postpreviewCtrl.post.content }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endverbatim %}{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("/assets/admin/js/app/app.js") }}"></script>
<script type="text/javascript" src="{{ asset("/assets/admin/js/app/controllers.js") }}"></script>
<script type="text/javascript" src="{{ asset("/assets/admin/js/app/directives.js") }}"></script>
{% endblock %}