{% extends '@PulpyAdmin/base.html.twig' %}

{% block htmlclass 'posts' %}

{% block body %}{% verbatim %}

<script type="text/x-handlebars">
{{outlet}}
</script>

<script type="text/x-handlebars" id="index">
    <p>{{#link-to 'posts'}}Les posts{{/link-to}}</p>
</script>


<script type="text/x-handlebars" id="posts">
<div id="layout">
    <div id="postlist">
        <div class="list-inner">
            <div>
                <header>
                    <div class="inner">

                        <span>All posts</span>

                        <div class="pull-right">
                            <button class="btn btn-sm btn-default"><i class="fa fa-plus"></i></button>
                        </div>

                    </div>
                </header>
                <div>

                    <div class="scroller">
                        <ol class="posts">
                        {{#each post in model}}
                        <li>
                            {{#link-to 'posts.view' post }}
                                <h3>{{ post.title }}</h3>
                                <section class="post-meta">
                                    <span class="post-content">{{ post.intro }}</span>
                                </section>
                            {{/link-to}}
                        </li>
                        {{/each}}
                        </ol>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div id="main" ng-controller="PostsPreviewController as postpreviewCtrl">
        <script type="text/x-handlebars" id="posts.view">
        <div>
            <header>
                <div class="inner">
                    <span>Published by {{ model.author.email }}</span>

                    <div class="pull-right">
                        <button class="btn btn-sm btn-default"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </header>
            <section class="content-preview">
                <div class="wrapper">
                    <div class="scroller">
                        <div class="innerwrapper">
                        <h1>{{ model.title }}</h1>

                        {{ model.intro }}

                        {{ model.content }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </script>
    </div>
</div>
</script>

{% endverbatim %}{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset("/assets/admin/js/emberapp/app.js") }}"></script>
{% endblock %}